.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container {
    margin-top: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}